.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-main {
  height: 100vh;
  padding: 20px;
  color: white;
}

.box {
  margin: 50px;
  color: lightgrey;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.lista {
  width: 100%;
  height: 100px; 
  background-color: lightpink;
  margin-top: 270px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}

.lista ul {
  list-style-type: none;
  font-weight: 100;
  margin-top: 410px;
  position: fixed;
  bottom: 0;
}

li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 40px 150px;
}

li:hover {
  color: black;
}

p {
  width: 400px;
  text-align: justify;
  font-weight: 100;
  color: lightgrey;
  margin-top: 50px;
  margin-left: 450px;
}